:root {
    /* colors selections */
    --background-clr: #FFCC00;
    --text-clr1: #660BAB;
    --text-clr2: #9B7D00;

    /* font weights */
    --f-regular: 400;
    --f-bold:700;
}

/* universal selectors */
* {
    font-family: 'Monda', sans-serif;
    background-color: var(--background-clr);
    /* color: var(--text-clr1);  */
}

/* general selectors */
body {
    font-size: 16px;
}

h1 {
    font-weight: var(--f-bold);
    color: black;
}

h2 {
    font-weight: var(--f-bold);
}

/* to hide elements once the the Start button has been clicked */
.hide {
    display: none; 
}

/* styling targeting choices */
#choices {
    font-size: 1.5em;
}

#choices:hover {
    color: whitesmoke;
    background-color: darkslategray;
    cursor: pointer;
}