:root {
    --color-neutral: #ffffff;
    --color-right: #32CD30;
    --color-wrong: 	#EE4B2B;
}

body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 2rem;
    font-size: 20;
    display: flex;
    /* width: 100vw; */
    /* max-width: 80rem; */
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
    background-color: midnightblue;
    font-family:Arial, Helvetica, sans-serif;
    color:aliceblue;
}

h1,
h2 {
    display: flex;
    justify-content: center;
}


h3 {
    font-size: 10;
}

.container{
    width: 800px;
    max-width: 80%;
    padding: 10px;
}

.q-container {
    display: flex;
    margin: 20px;
}

.highScorePage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin: auto;
}

/* styling on the home page */
#homeTxt {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons1 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 30px;
}

/* buttons2 {
    
}

.highScoreResult{
   
    
} */

/* buttons styling */
.column-btn {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8rem;
    background-color: var(--color-neutral);
}

.btn {
    background-color: var(--color-neutral);
    border-radius: 5px;
    font-size: 100;
    padding: 10px 30px;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    width: 10rem;
    
}

.btn:hover {
    cursor: pointer;
    transform: transform 150ms;
    transform: scale(1.03);

}

.btn[disabled]:hover {
    cursor: not-allowed;
    transform: none;
}

.start-btn {
    background-color:#9A6716;
    color: var(--color-neutral);
    
}

.high-score {
    background-color: #D4B139;
}


/* to hide elements once the the Start button has been clicked */
.hide {
    display: none; 
}



#timer {
    display: inline;
    padding-right: 30px;
}

#score {
    display: inline;
    flex-direction: row-reverse;
}

#choices {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
}

#answerReveal {
    bottom: 30px;
    right: 0;
}

#endTxt {
    padding-bottom: 30px;
}

#highScoreResult {
    display: flex;
    justify-content: center;
}

#hsList {
    display: block;
    text-align: center;
    list-style-type: none;
}

#homeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin: auto;
}