:root {
    --color-neutral: #ffffff;
    --color-right: #32CD30;
    --color-wrong: 	#EE4B2B;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: midnightblue;
    font-family:Arial, Helvetica, sans-serif;
    color:aliceblue;
}

h3 {
    display:flex;
    right: 0px;
}
.container{
    width: 800px;
    max-width: 80%;
    padding: 10px;
    
}

.homeTxt {
    text-align: center;
}

.grid-btn {
    display: grid;
    margin: 20px 0;
    grid-template-columns: repeat(2, auto);
}

.btn {
    background-color: var(--color-neutral);
    border-radius: 5px;
    cursor: pointer;
    transition: transform 150ms;
    padding: 5px 20px;

}

.btn:hover {
    border: black;
}

.btn.correct {
    background-color: var(--color-right);
}

.btn.incorrect {
    background-color: var(--color-wrong);
}

.hide {
    /* display: none; */
}

#timer {
    text-align: center;
}

#start-btn {
    background-color:#9A6716;
    color: var(--color-neutral);
}

#high-score-btn {
    background-color: #D4B139;
}